$ff-main: "ADLaM Display", ssystem-ui;
$ff-secondary: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-S: 16px;
$fs-M: 24px;
$fs-L: 36px;
$fs-XL: 52px; 
$fs-XXL: 64px; 

$fs-TITLE: 70px;

$clr-white: #fff;
$clr-gray: rgba(217, 217, 217, 1);
$clr-coffe: rgba(81, 53, 10, 1);
$clr-whitebrown: rgba(139, 92, 29, 1);
$clr-darkblue: rgba(24, 23, 39, 1);
$clr-black: rgba(30, 30, 30, 1);
$clr-blackgray: rgba(41, 42, 45, 1);

